.homePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.homeTitle{
  text-align: center;
  margin-bottom: -30px;
}

.homeCard{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.waveyy-intro{
  margin-top: 30px;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;

}

.welcome-intro{
  font-family: 'Gruppo', sans-serif;

}

.beach-cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sessionUser-home{
  margin-top: -40px;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}

.homeContainer{
  display: flex;
  justify-content: center;
}


#beachDetails {
  margin-top: 20px;
  margin-left: 10px;
}

#beachHomeImg{
  width: 300px;
  height: 200px;
  padding-bottom: 15px;
  border-radius: 5%;
}

#cardLink {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.homeHeader{
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: 'Gruppo', sans-serif;

}

.noSessionHeader{
  text-align: center;
  margin-bottom: -20px;
  font-size: 25px;
  color: white;
  font-family: 'Gruppo', sans-serif;
}

.create-beach-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-modal{
  margin-top: 80px;
}



@media screen and (max-width: 1620px){
  .homeBeachCard {
    width: 300px;
    height: 250;
  }
  #beachDetails {
    display: none;
  }
}
