.homePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homeTitle{
  text-align: center;
  margin-bottom: -30px;
}

.homeCard{
  /* margin-top: 80px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* border-top:2px solid grey; */
}

.beach-cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sessionUser-home{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}

.homeContainer{
  display: flex;
  justify-content: center;
}

.homeBeachCard {
  display: flex;
  border: 2px solid grey;
  padding: 5px;
  margin: 10px 10px 0 10px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow .3s;
  background-image: url("https://wallpaperaccess.com/full/1767482.jpg");
  background-position: fixed;
}

.homeBeachCard:hover{
  box-shadow: 0 0 15px 10px rgba(151, 150, 150, 0.897);
  transition: box-shadow .3s;
  border: 2px solid white;
}

#beachDetails {
  margin-top: 40px;
  margin-left: 10px;
}

#beachHomeImg{
  width: 300px;
  height: 200px;
  padding-bottom: 15px;
  border-radius: 5%;
}

#cardLink {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.homeHeader{
  text-align: center;
}

.noSessionHeader{
  text-align: center;
  margin-top: 80px;
}

.create-beach-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-modal{
  margin-top: 80px;
}

.or {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#left-line{
  width: 40%;
}

#right-line{
  width: 40%
}


@media screen and (max-width: 1620px){
  .homeBeachCard {
    width: 300px;
    height: 250;
  }
  #beachDetails {
    display: none;
  }
}
