.homeTitle{
  text-align: center;
}

.homeCard{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homeContainer{
  display: flex;
  justify-content: center;
}

.homeBeachCard {
  display: flex;
  float: left;
  border: 2px solid grey;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow .3s;
}

.homeBeachCard:hover{
  box-shadow: 0 0 15px 10px rgba(151, 150, 150, 0.897);
  transition: box-shadow .3s;
  border: 2px solid white;
}

#beachDetails {
  margin-top: 40px;
  margin-left: 10px;
}

#beachHomeImg{
  width: 300px;
  height: 200px;
  padding-bottom: 15px;
  border-radius: 5%;
}

#cardLink {
  text-decoration: none;
  color: white;
}
