#beachDescription{
  width: 97%;
  resize: none;
  height: 150px;
}

#formBttn {
  padding: 9px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  background-color: #838485;
  transition: .3s;
  margin-left: 55px;
  margin-bottom: 10px;
}

#formBttn:hover {
  transform: scale(1.1);
  color: white;
}


.createNewBeach {
  width: 400px;
}

#beachFormTitle {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

.errorHandling {
  background-color: #bd393962;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  border: 2px solid white;
}

.errorTitle {
  margin-left: 15px;
  font-weight: bold;
}

.errors {
  margin-left: -70px;
  font-size: 15px;
}

#spinner {
  margin-right: 4px;
}
