#beachDescription{
  width: 97%;
  resize: none;
  height: 150px;
}

#formBttn {
  padding: 9px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  background-color: #838485;
  transition: .3s;
  margin-left: 55px;
  margin-bottom: 10px;
}

#formBttn:hover {
  transform: scale(1.1);
  color: white;
}


.createNewBeach {
  width: 400px;
}

#beachFormTitle {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
