.reviews-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(5%);


}

#review-header{
  display: flex;
  flex-direction: row;

}

.reviewData-header{
  color: white;
  font-size: 25px;
}

.reviewData{
  color: white;
  font-size: 18px;
}

.avg-rating{
  margin-top: 20px;
  padding-left: 30px;
  font-size: 30px;
}

.rating-div{
  font-size: 24px;
}

#single-review-container{
  display: flex;
  flex-direction: column;
  width:80% ;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}



#deleteReview {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #222;
  border: 0;
  color: white;
  font-size: 15px;
  /* transform: translateX(65rem); */
}

#deleteReview:hover{
  color: red;
}

td{
  padding: 9px;
}
