/* th {
  border-bottom: 2px solid #929496;
} */

#review-header{
  display: flex;
  flex-direction: row;
}

.avg-rating{
  margin-top: 20px;
  padding-left: 30px;
  font-size: 30px;
}

.reviews-table{
  border-collapse: collapse;
  background-color: #313131;;
  border-radius: 8px;
  margin: 15px 0;
  margin-bottom: -400px;
}

#deleteReview {
  margin-right: 10px;
  margin-top: 5px;
}

td{
  padding: 9px;
}
