.beachDetails{
  text-align: center;
  text-shadow: 0 0 3px #8b8989, 0 0 5px #282829
}

#beachDetailImg{
  display: inline;
  align-items: center;
  margin-top: 80px;
  width: 1500px;
  height: 800px;
  border-radius: 20px;

}

.reviews{
  margin-left: 20px;
  margin-bottom: 150px;
}

.beachDetails p {
  margin-left: 150px;
  margin-right: 150px;
}
