#profile-page-container{
  margin-top: 50px;
  margin-bottom: 190px;
}

.profile-page-header{
  transform: translateX(60%);
  width: 400px;
}

.show-info{
  cursor: pointer;
  margin-top: -20px;
  padding-left: 20px;
  width: 80px;
}

.show-info:hover{
  color: lightgray;
}

.user-email{
  margin-top: -10px;
  padding-left: 20px;
  position: absolute;
}

.save-beach-bttn{
  color: black;
  cursor: pointer;
  background-color: #929496;
  padding: 5px;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

.saved-beached-bttn{
  margin-left: 15px;
  border-radius: 5px;
  color: black;
  background-color: #929496;
  cursor: pointer;
  transition: .3s ease-in-out;
  padding: 5px;
}

.save-beach-bttn:hover{
  color: white;
}

.saved-beached-bttn:hover{
  color: white;
}

#profile-tabs{
  margin-top: 40px;
}

#session-beaches{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sessionBeach-tab{
  text-align: center;
  font-size: 18px ;

}

.mybeaches-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-beaches-header{
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.my-beaches{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;


}

#beach-link-pp{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}



.beach-img-pp:hover{
  filter: brightness(65%);
}

.beach-title-pp{
  position: absolute;
  top: 430px;
  margin-left: 45px;
  width: 200px;
  font-size: 20px;
}

.noBeaches{
  transform: translateY(1000%);
  position: absolute;
  font-size: 20px;


}
