
.slider {
  margin-top: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 1275px;
  height: 800px;
  border: 10px;
  border-radius: 20px;
  margin: 0;
}

.RightArrow {
  position:absolute;
  top: 50%;
  right: 150px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 1;
  user-select: none;
  transition: 1s ease;
}

.leftArrow {
  position:absolute;
  top: 50%;
  left: 150px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 1;
  user-select: none;
  transition: 1s ease;
}

.slide {
  opacity: 0;
  transition: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.1);
}

.RightArrow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.leftArrow:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

@media screen and (max-width: 1620px) {
  .RightArrow {
    right: 40px;
    transition: 2s ease;
  }
  .leftArrow {
    left: 40px;
    transition: 2s ease;
  }
}


@media screen and (max-width: 1420px) {
  .sliderImg {
    width: 99%;
    height: auto;
  }
}
