.beaches-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}

#title{
  text-align: center;
  margin-bottom: -30px;
  color: white;
  font-family: 'Gruppo', sans-serif;
}

.header-beaches{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beachCard {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin-bottom:-150px;
  margin-top: 50px;
}

.beachContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  height: 350px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

.beachContainer:hover{
  box-shadow: 2px 2px 10px 2px rgb(138, 138, 138);
  transition: box-shadow .3s;
  border: 2px solid rgb(138, 138, 138);
}

#beachCoverImg{
 text-align: center;
}

#beachCovImg{
  display: inline;
  align-items: center;
  margin-top: 80px;
  width: 1440px;
  height: 650px;
  overflow-x: none;
  border-radius: 10px;
}

#beachImg{
  width: 520px ;
  height: 348px;
  margin-top: 3px;
  border-radius: 5px ;
}

.createBeachBttn{
  border-radius: 5px;
  background-color: #929496;
  color: black;
  cursor: pointer;
  margin-left: 20px;
  transition: .3s;
  margin: 15px 0 ;
  float: left;

}

.createBeachBttn:hover{
  transform: scale(1.05);
  color: white;
  box-shadow: 0 0 10px 4px rgba(151, 150, 150, 0.897);
}

#beachContentTitle {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 3px #8b8989, 0 0 5px #282829;
  font-size: 30px;
}


#beachLink {
  text-decoration: none;
  text-shadow: 0 0 3px #8b8989, 0 0 5px #282829;

}

#beachLink p {
  text-decoration: none;
  color:white;
}

.beachCard-content{
  margin-left: 20px;

}

.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  transform: translateY(15rem);
}

.toTop{
  background-color: #222;
  border: none;
  font-size: 20px;
  font-family: 'Gruppo', sans-serif;
  color: white;
  cursor: pointer;
}

.toTop:hover{
  color: lightgray;
}
