#title{
  text-align: center;
}

.beachContainer {
  display: inline;
  float: left;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  width: 350px;
  height: 350px;
  background-image: url("https://i.pinimg.com/originals/46/51/9d/46519d4f3b3ba83399cda20540be5bc7.jpg");
  border-radius: 10px;
  font-weight: bold;
}

#beachCoverImg{
 display: flex;
 flex-direction: column;
 position: relative;
 margin-bottom: 40px;
 width: 100%;
}

#beachImg {
  width: 350px;
  height: 230px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.createBeachBttn{
  height: 70px;
  line-height: 50px;
  width: 70px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #5ab1eb;
  color: white;
  text-align: center;
  cursor: pointer;
}
