.navBar {
  background-size: cover;
  background-color: black;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 0;
  border-bottom: 2px solid #929496;
  display: flex;
  justify-content: space-between;


}

#logo{
  text-decoration: none;
  color: rgb(124, 194, 255);
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

#logoImg {
  height: 50px;
  width: 200px;

}

#logoTitle{
  font-size: 30px;
  cursor: pointer;
  font-family: cursive;
}


#beachesLink{
  margin-top: 20px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 20px;
  transition: .3s;
  background-color: #929496;
}

#beachesLink:hover {
  transform: scale(1.1);
  border-radius: 20px;
  color: white;
}


#signUp {
  margin-top: 20px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 20px;
  transition: .3s;
  background-color: #929496;
}

#logIn {
  margin-top: 20px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 20px;
  transition: .3s;
  background-color: #929496;
}

#logIn:hover{
  transform: scale(1.1);
  color:aliceblue
}

#signUp:hover{
  transform: scale(1.1);
  color:aliceblue
}

.profileBttn {
  padding: 3px 5px;
  border-radius: 15px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #929496
}

.profileBttn:hover{
  transform: scale(1.1);
  color: aliceblue;
}

.logoutBttn {
  padding: 5px 8px;
  border-radius: 15px;
  float: right;
  margin-top: 5px;
  margin-right: 50px;
  background-color: #929496
}

.logoutBttn:hover {
  transform: scale(1.1);
  color: aliceblue;
  background-color: red;
}

.dropdown-content{
  position:absolute;
  top: 70px;
  right: 1px;
  width: auto;
  background-color: black;
  border: 1px solid #929496;
  border-top: none;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000

}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: auto;

}

#writeReviewBttn {
  padding: 3px 5px;
  border-radius: 20px;
  transition: .3s;
  background-color: #929496;
}

#writeReviewBttn:hover{
  transform: scale(1.1);
  color:aliceblue
}

.reviewFormSection {
  margin-left: 20px;
}

.notLoggedIn {
  display: flex;

}
